<a href="https://colab.research.google.com/github/w-oke/covid_reproduction/blob/main/001-etl-data-covid-19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The basis for this notebook was copied from:<br>
https://colab.research.google.com/github/ChadFulton/sm-notebooks-2021/blob/main/001-etl-data-covid-19.ipynb

## Google COVID-19 public datasets / BigQuery

Google is curating and making available a set of "[COVID-19 public datasets](https://cloud.google.com/blog/products/data-analytics/publicly-available-covid-19-data-for-analytics)" that include global data about the COVID-19 pandemic. The data, their ETL code, and information about sources is available in a [Github repository](https://github.com/GoogleCloudPlatform/covid-19-open-data/). However, Google has gone further and made the COVID-19 data available as part of their [BigQuery Public Datasets Program](https://console.cloud.google.com/marketplace/product/bigquery-public-datasets/covid19-public-data-program). This means that we can use BigQuery to interact with the dataset using SQL-like queries, and these queries will be [free until September 15, 2021](https://cloud.google.com/blog/products/data-analytics/publicly-available-covid-19-data-for-analytics).

**ETL strategy**: in this notebook, we'll just use Google's [BigQuery Python libriary](https://cloud.google.com/bigquery/docs/reference/libraries#client-libraries-install-python) to query the data directly. The managed BigQuery service is convenient enough that for the visualization we're creating here, we don't need to do any custom ETL work (other than writing the query) or store the output data locally, although we might do so in later notebooks.

## Google COVID-19 public datasets / BigQuery

Finally, we can use the `bigquery` Python library to directly query Google's COVID-19 public datasets. This is conveninent because (1) we can use an SQL-type query to work with the datasets so that we only download the data we actually need, and (2) we can download the data directly into a Pandas DataFrame.

To get starting using this dataset via BigQuery, there are a few steps that must be completed, such as:

- [Create an account and project with Google Cloud Platform](https://cloud.google.com/bigquery/public-data#before_you_begin)
- [Download the Google cloud library for Python (usually using either `pip` or Anaconda)](https://cloud.google.com/bigquery/docs/reference/libraries#installing_the_client_library)
- [Set up authentication for accessing your project](https://cloud.google.com/bigquery/docs/reference/libraries#setting_up_authentication)

To work with county-level data use `aggregation_level = 2`.

Here's the query from the original notebook:

```
query = """
SELECT # only return these 4 columns:
  subregion2_code as fips,      # rename column
  subregion2_name as county,    # rename column
  date,
  new_deceased
FROM
  `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE
  country_code = 'US'                # only look in the United States
  AND aggregation_level = 2          # only return county-level data
  AND new_deceased IS NOT NULL       # filter by records that have a death
  AND date >= DATE_SUB(CURRENT_DATE(), INTERVAL 8 DAY); # only access the last week worth of data
"""
```

After performing the query, the author calculated the total number of deaths over the week for each county:
```
df.groupby(['fips', 'county'], as_index=False).sum()
```

In [4]:
# Basic imports that we will use throughout the notebook
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle

from google.cloud import bigquery

In [5]:
# Handle authentication in Colab
try:
    from google.colab import auth
    auth.authenticate_user()
    print('Authenticated')
except ImportError:
    pass

Authenticated

In [6]:
# independent var -> normalize to population
var = {'y': ['new_tested', 'new_confirmed']}

# regional information (string) remove what isn't needed
var['region'] = '''location_key
    place_id
    wikidata_id
    country_code
    subregion1_code
    subregion1_name'''.split()

# datetime
var['date'] = ['date']

# population (int -> normalize to population)
var['population'] = '''population
    population_age_00_09
    population_age_10_19
    population_age_20_29
    population_age_30_39
    population_age_40_49
    population_age_50_59
    population_age_60_69
    population_age_70_79
    population_age_80_and_older
    area_sq_km
    cumulative_persons_vaccinated
    cumulative_persons_fully_vaccinated
    cumulative_vaccine_doses_administered'''.split()

# number (int -> normalize and convert to float)
# var['integer'] = ['elevation_m']

# string (should be int then normalized to float)
var['string'] = '''mobility_retail_and_recreation
    mobility_grocery_and_pharmacy
    mobility_parks
    mobility_transit_stations
    mobility_workplaces
    mobility_residential'''.split()

# float
var['float'] = '''stringency_index
    average_temperature_celsius
    rainfall_mm
    snowfall_mm'''.split()

# rating 1-5 (int)
var['rating'] = '''school_closing
    workplace_closing
    cancel_public_events
    restrictions_on_gatherings
    public_transport_closing
    stay_at_home_requirements
    restrictions_on_internal_movement
    international_travel_controls
    income_support
    debt_relief
    fiscal_measures
    international_support
    public_information_campaigns
    testing_policy
    contact_tracing
    emergency_investment_in_healthcare
    investment_in_vaccines
    facial_coverings
    vaccination_policy'''.split()

with open('var_dictionary.pkl', 'wb') as f:
    pickle.dump(var, f)

# create a single list of all the features
var_all = [item for sublist in list(var.values()) for item in sublist]
print('The first 4 items in "var_all" are: ', var_all[0:4])

# create a single string of all the features
var_all2 = ', '.join(var_all)

The first 4 items in "var_all" are:  ['new_tested', 'new_confirmed', 'location_key', 'place_id']

In [ ]:
# note: the autenticated user must have access to the specified project
# the listed project was created by Wesley Oke
client = bigquery.Client(project='citric-trees-332113')

# Construct a BigQuery client object.
query = "SELECT " + var_all2 + """
FROM
  `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE
  cumulative_persons_fully_vaccinated IS NOT NULL
  AND mobility_parks IS NOT NULL
  AND new_tested != 'None'
LIMIT 200000
"""

# Run the query and save the result as a dataframe
df = (client.query(query)
             .result()
             .to_dataframe())

In [ ]:
# Convert the 'date' column to a Datetime format
df['date'] = pd.to_datetime(df['date'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192050 entries, 0 to 192049
Data columns (total 52 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   new_tested                             192050 non-null  object
 1   new_confirmed                          191555 non-null  float64
 2   location_key                           192050 non-null  object
 3   place_id                               192050 non-null  object
 4   wikidata_id                            192050 non-null  object
 5   country_code                           192050 non-null  object
 6   subregion1_code                        176602 non-null  object
 7   subregion1_name                        176602 non-null  object
 8   date                                   192050 non-null  datetime64[ns]
 9   population                             191998 non-null  float64
 10  population_age_00_09                   192000 non-null  float64
 11  population_age_10_19                   192000 non-null  float64
 12  population_age_20_29                   192000 non-null  float64
 13  population_age_30_39                   192000 non-null  float64
 14  population_age_40_49                   192000 non-null  float64
 15  population_age_50_59                   192000 non-null  float64
 16  population_age_60_69                   192000 non-null  float64
 17  population_age_70_79                   192000 non-null  float64
 18  population_age_80_and_older            192000 non-null  float64
 19  area_sq_km                             131636 non-null  float64
 20  cumulative_persons_vaccinated          174326 non-null  float64
 21  cumulative_persons_fully_vaccinated    192050 non-null  int64
 22  cumulative_vaccine_doses_administered  174214 non-null  float64
 23  mobility_retail_and_recreation         168626 non-null  object
 24  mobility_grocery_and_pharmacy          165922 non-null  object
 25  mobility_parks                         192050 non-null  object
 26  mobility_transit_stations              143336 non-null  object
 27  mobility_workplaces                    189977 non-null  object
 28  mobility_residential                   168445 non-null  object
 29  stringency_index                       31200 non-null   float64
 30  average_temperature_celsius            189679 non-null  float64
 31  rainfall_mm                            189542 non-null  float64
 32  snowfall_mm                            9979 non-null    float64
 33  school_closing                         31230 non-null   float64
 34  workplace_closing                      31208 non-null   float64
 35  cancel_public_events                   31215 non-null   float64
 36  restrictions_on_gatherings             31212 non-null   float64
 37  public_transport_closing               31212 non-null   float64
 38  stay_at_home_requirements              31177 non-null   float64
 39  restrictions_on_internal_movement      31140 non-null   float64
 40  international_travel_controls          31217 non-null   float64
 41  income_support                         31914 non-null   float64
 42  debt_relief                            31161 non-null   float64
 43  fiscal_measures                        11759 non-null   float64
 44  international_support                  11736 non-null   float64
 45  public_information_campaigns           31158 non-null   float64
 46  testing_policy                         31255 non-null   float64
 47  contact_tracing                        31106 non-null   float64
 48  emergency_investment_in_healthcare     11674 non-null   float64
 49  investment_in_vaccines                 16041 non-null   float64
 50  facial_coverings                       31108 non-null   float64
 51  vaccination_policy                     31246 non-null   float64
dtypes: datetime64[ns](1), float64(37), int64(1), object(13)
memory usage: 76.2+ MB

In [ ]:
df.head()

  new_tested  new_confirmed  ... facial_coverings vaccination_policy
0      84410        36101.0  ...              3.0                3.0
1      43968         2039.0  ...              3.0                4.0
2      65622        26199.0  ...              3.0                3.0
3      38720         1299.0  ...              3.0                4.0
4      24060         5849.0  ...              3.0                2.0

[5 rows x 52 columns]

In [ ]:
df.to_parquet('covid_google_df_mobility_parks.parquet')

In [ ]:
# note: the autenticated user must have access to the specified project
# the listed project was created by Wesley Oke
client = bigquery.Client(project='citric-trees-332113')

# Construct a BigQuery client object.
query = "SELECT " + var_all2 + """
FROM
  `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE
  cumulative_persons_fully_vaccinated IS NOT NULL
  AND school_closing IS NOT NULL
  AND new_tested != 'None'
LIMIT 200000
"""

# Run the query and save the result as a dataframe
df = (client.query(query)
             .result()
             .to_dataframe())

In [ ]:
# Convert the 'date' column to a Datetime format
df['date'] = pd.to_datetime(df['date'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34652 entries, 0 to 34651
Data columns (total 52 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   new_tested                             34652 non-null  object
 1   new_confirmed                          34648 non-null  float64
 2   location_key                           34652 non-null  object
 3   place_id                               33683 non-null  object
 4   wikidata_id                            34652 non-null  object
 5   country_code                           34652 non-null  object
 6   subregion1_code                        17522 non-null  object
 7   subregion1_name                        17522 non-null  object
 8   date                                   34652 non-null  datetime64[ns]
 9   population                             34558 non-null  float64
 10  population_age_00_09                   34602 non-null  float64
 11  population_age_10_19                   34602 non-null  float64
 12  population_age_20_29                   34602 non-null  float64
 13  population_age_30_39                   34602 non-null  float64
 14  population_age_40_49                   34602 non-null  float64
 15  population_age_50_59                   34602 non-null  float64
 16  population_age_60_69                   34602 non-null  float64
 17  population_age_70_79                   34602 non-null  float64
 18  population_age_80_and_older            34602 non-null  float64
 19  area_sq_km                             34558 non-null  float64
 20  cumulative_persons_vaccinated          25836 non-null  float64
 21  cumulative_persons_fully_vaccinated    34652 non-null  int64
 22  cumulative_vaccine_doses_administered  25749 non-null  float64
 23  mobility_retail_and_recreation         31546 non-null  object
 24  mobility_grocery_and_pharmacy          31431 non-null  object
 25  mobility_parks                         31230 non-null  object
 26  mobility_transit_stations              31663 non-null  object
 27  mobility_workplaces                    31784 non-null  object
 28  mobility_residential                   31430 non-null  object
 29  stringency_index                       34622 non-null  float64
 30  average_temperature_celsius            33917 non-null  float64
 31  rainfall_mm                            33839 non-null  float64
 32  snowfall_mm                            3577 non-null   float64
 33  school_closing                         34652 non-null  int64
 34  workplace_closing                      34627 non-null  float64
 35  cancel_public_events                   34636 non-null  float64
 36  restrictions_on_gatherings             34630 non-null  float64
 37  public_transport_closing               34594 non-null  float64
 38  stay_at_home_requirements              34598 non-null  float64
 39  restrictions_on_internal_movement      34553 non-null  float64
 40  international_travel_controls          34539 non-null  float64
 41  income_support                         34568 non-null  float64
 42  debt_relief                            34541 non-null  float64
 43  fiscal_measures                        13798 non-null  float64
 44  international_support                  13775 non-null  float64
 45  public_information_campaigns           34573 non-null  float64
 46  testing_policy                         34579 non-null  float64
 47  contact_tracing                        34504 non-null  float64
 48  emergency_investment_in_healthcare     13696 non-null  float64
 49  investment_in_vaccines                 19209 non-null  float64
 50  facial_coverings                       34524 non-null  float64
 51  vaccination_policy                     34547 non-null  float64
dtypes: datetime64[ns](1), float64(36), int64(2), object(13)
memory usage: 13.7+ MB

In [ ]:
df.head()

  new_tested  new_confirmed  ... facial_coverings vaccination_policy
0      25800           90.0  ...              3.0                5.0
1      15242           18.0  ...              3.0                5.0
2       7257            2.0  ...              2.0                3.0
3      26328          102.0  ...              3.0                5.0
4      59005         6594.0  ...              4.0                3.0

[5 rows x 52 columns]

In [ ]:
df.to_parquet('covid_google_df_school_closing.parquet')