<a href="https://colab.research.google.com/github/w-oke/covid_reproduction/blob/main/covid_owid_2_analysis_NN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The data loaded in this Notebook is based on the output of: covid_owid_1_preparation.ipynb, which can be accessed from:
https://github.com/w-oke/covid_reproduction.

In [1]:
import urllib.request
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import KNNImputer
from tensorflow import keras

In [2]:
df_link = 'https://github.com/w-oke/covid_reproduction/raw/main/covid_owid_df.parquet'
df1 = pd.read_parquet(df_link)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14671 entries, 0 to 14670
Data columns (total 30 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   iso_code                             14671 non-null  object
 1   location                             14671 non-null  object
 2   date                                 14671 non-null  datetime64[ns]
 3   reproduction_rate                    14671 non-null  float64
 4   new_tests_smoothed_per_thousand      14671 non-null  float64
 5   people_vaccinated_per_hundred        14671 non-null  float64
 6   people_fully_vaccinated_per_hundred  14671 non-null  float64
 7   total_boosters_per_hundred           14671 non-null  float64
 8   stringency_index                     14671 non-null  float64
 9   population_density                   14671 non-null  float64
 10  median_age                           14671 non-null  float64
 11  gdp_per_capita                       14671 non-null  float64
 12  extreme_poverty                      14671 non-null  float64
 13  handwashing_facilities               14671 non-null  float64
 14  hospital_beds_per_thousand           14671 non-null  float64
 15  life_expectancy                      14671 non-null  float64
 16  human_development_index              14671 non-null  float64
 17  Alpha                                14671 non-null  float64
 18  Beta                                 14671 non-null  float64
 19  Delta                                14671 non-null  float64
 20  Epsilon                              14671 non-null  float64
 21  Eta                                  14671 non-null  float64
 22  Gamma                                14671 non-null  float64
 23  Iota                                 14671 non-null  float64
 24  Kappa                                14671 non-null  float64
 25  Lambda                               14671 non-null  float64
 26  Mu                                   14671 non-null  float64
 27  Omicron                              14671 non-null  float64
 28  non_who                              14671 non-null  float64
 29  date_diff                            14671 non-null  float64
dtypes: datetime64[ns](1), float64(27), object(2)
memory usage: 3.4+ MB

In [3]:
df1.describe()

       reproduction_rate  ...     date_diff
count       14671.000000  ...  14671.000000
mean            0.981247  ...      0.510624
std             0.309696  ...      0.289618
min            -0.030000  ...      0.000000
25%             0.830000  ...      0.259259
50%             1.000000  ...      0.518519
75%             1.150000  ...      0.765432
max             4.190000  ...      1.000000

[8 rows x 27 columns]

In [5]:
# import the dictionary var with lists of features:
var_link = 'https://github.com/w-oke/covid_reproduction/raw/main/covid_owid_var_dictionary.pkl'
a_file = "covid_owid_var_dictionary.pkl"

with open(a_file, 'rb') as f:
        var = pickle.load(f)

print('The keys of the \'var\' dict are: ', var.keys())
print()
var

FileNotFoundError: ignored

In [ ]:
# allocate 20% of the data set to testing
X_train, X_test, y_train, y_test = train_test_split(
                        df1[var['number']+var['variants']], df1[var['y']], 
                        test_size=0.2, random_state=1)

# allocate 25% of the remaining examples (20% of the dataset) to validation
X_train, X_val, y_train, y_val = train_test_split(
                        X_train, y_train, test_size=0.25, random_state=1) # 0.25 x 0.8 = 0.2

In [ ]:
# create a DNN model with 3 fully connected layers with 64 units each
model = keras.Sequential([
                          keras.layers.BatchNormalization(),
                          keras.layers.Dense(units=64, activation='relu'),
                          keras.layers.Dense(units=64, activation='relu'),
                          keras.layers.Dense(units=64, activation='relu'),
                          keras.layers.Dense(units=1)]) # linear output layer for regression
opt = keras.optimizers.Adam(learning_rate=0.01)
model.compile(optimizer=opt,
              loss='mse',
              metrics=[keras.metrics.RootMeanSquaredError()])

The following hyperparameter values were evaluated, which all resulted in test data RMSE results in the range of 0.24 to 0.29:
* number of Dense layers: 1, 2, 3
* number of units per layer: 64, 128
* optimizer 'adam' and 'sgd'
* keras.layers.Dropout(0.2) between each layer
* keras.layers.BatchNormalization() between each layer
* training batch size of 16 & 32
* keras.callbacks.ReduceLROnPlateau()

In [ ]:
early_stopping = keras.callbacks.EarlyStopping(patience=20,
                                               restore_best_weights=True)
lr_schedule = keras.callbacks.ReduceLROnPlateau(factor=0.5)
history = model.fit(X_train, y_train,
    batch_size = 16, 	# number of examples in each batch before step
    epochs = 500, 		# will cycle through all trg data 500 times unless:
    callbacks=[early_stopping, lr_schedule], # put callbacks in a list; use lg epochs value
    validation_data = (X_val, y_val)) # to monitor performance

In [ ]:
history_df = pd.DataFrame(history.history) # convert the trg history to a DF
fig, ax = plt.subplots(figsize=(12,6))
history_df.loc[1:, ['loss', 'val_loss']].plot(ax=ax)
ax.set(title='Neural Net Learning Curve', xlabel='Epoch', 
       ylabel='Mean Squared Error');

We can see that the model starts to overtrain the training data set after 30-40 epochs.

In [ ]:
# Calculate the Standard Deviation of y
y_sd = float(np.sqrt(df1[var['y']].var()))
print("The Standard Deviation of the Reproduction Rate (the dependent variable) is {:.4f}".format(y_sd))

In [ ]:
rmse = model.evaluate(X_test, y_test)[1]

In [ ]:
print('Only {:.1f}% of the variability in the Reproduction Rate is explained by this model'.format(100*(y_sd-rmse)/y_sd))