<a href="https://colab.research.google.com/github/w-oke/covid_reproduction/blob/main/covid_google_1_preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The basis for this notebook was copied from:<br>
https://colab.research.google.com/github/ChadFulton/sm-notebooks-2021/blob/main/001-etl-data-covid-19.ipynb

## Google COVID-19 public datasets / BigQuery

Google is curating and making available a set of "[COVID-19 public datasets](https://cloud.google.com/blog/products/data-analytics/publicly-available-covid-19-data-for-analytics)" that include global data about the COVID-19 pandemic. The data, their ETL code, and information about sources is available in a [Github repository](https://github.com/GoogleCloudPlatform/covid-19-open-data/). However, Google has gone further and made the COVID-19 data available as part of their [BigQuery Public Datasets Program](https://console.cloud.google.com/marketplace/product/bigquery-public-datasets/covid19-public-data-program). This means that we can use BigQuery to interact with the dataset using SQL-like queries, and these queries will be [free until September 15, 2021](https://cloud.google.com/blog/products/data-analytics/publicly-available-covid-19-data-for-analytics).

**ETL strategy**: in this notebook, we'll just use Google's [BigQuery Python libriary](https://cloud.google.com/bigquery/docs/reference/libraries#client-libraries-install-python) to query the data directly. The managed BigQuery service is convenient enough that for the visualization we're creating here, we don't need to do any custom ETL work (other than writing the query) or store the output data locally, although we might do so in later notebooks.

## Google COVID-19 public datasets / BigQuery

Finally, we can use the `bigquery` Python library to directly query Google's COVID-19 public datasets. This is conveninent because (1) we can use an SQL-type query to work with the datasets so that we only download the data we actually need, and (2) we can download the data directly into a Pandas DataFrame.

To get starting using this dataset via BigQuery, there are a few steps that must be completed, such as:

- [Create an account and project with Google Cloud Platform](https://cloud.google.com/bigquery/public-data#before_you_begin)
- [Download the Google cloud library for Python (usually using either `pip` or Anaconda)](https://cloud.google.com/bigquery/docs/reference/libraries#installing_the_client_library)
- [Set up authentication for accessing your project](https://cloud.google.com/bigquery/docs/reference/libraries#setting_up_authentication)

To work with county-level data use `aggregation_level = 2`.

Here's the query from the original notebook:

```
query = """
SELECT # only return these 4 columns:
  subregion2_code as fips,      # rename column
  subregion2_name as county,    # rename column
  date,
  new_deceased
FROM
  `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE
  country_code = 'US'                # only look in the United States
  AND aggregation_level = 2          # only return county-level data
  AND new_deceased IS NOT NULL       # filter by records that have a death
  AND date >= DATE_SUB(CURRENT_DATE(), INTERVAL 8 DAY); # only access the last week worth of data
"""
```

After performing the query, the author calculated the total number of deaths over the week for each county:
```
df.groupby(['fips', 'county'], as_index=False).sum()
```

In [ ]:
# Basic imports that we will use throughout the notebook
# import numpy as np
import pandas as pd
import pickle

from google.cloud import bigquery

In [ ]:
# Handle authentication in Colab
try:
    from google.colab import auth
    auth.authenticate_user()
    print('Authenticated')
except ImportError:
    pass

Authenticated

In [ ]:
# independent var -> normalize to population
var = {'y': ['new_tested', 'new_confirmed']}

# regional information (string) remove what isn't needed
var['region'] = '''location_key
    place_id
    wikidata_id
    country_code
    subregion1_code
    subregion1_name'''.split()

# datetime
var['date'] = ['date']

# population (int -> normalize to population)
var['population'] = '''population
    population_age_00_09
    population_age_10_19
    population_age_20_29
    population_age_30_39
    population_age_40_49
    population_age_50_59
    population_age_60_69
    population_age_70_79
    population_age_80_and_older
    area_sq_km
    cumulative_persons_vaccinated
    cumulative_persons_fully_vaccinated
    cumulative_vaccine_doses_administered'''.split()

# number (int -> normalize and convert to float)
# var['integer'] = ['elevation_m']

# string (should be int then normalized to float)
var['string'] = '''mobility_retail_and_recreation
    mobility_grocery_and_pharmacy
    mobility_parks
    mobility_transit_stations
    mobility_workplaces
    mobility_residential'''.split()

# float
var['float'] = '''stringency_index
    average_temperature_celsius
    rainfall_mm
    snowfall_mm'''.split()

# rating 1-5 (int)
var['rating'] = '''school_closing
    workplace_closing
    cancel_public_events
    restrictions_on_gatherings
    public_transport_closing
    stay_at_home_requirements
    restrictions_on_internal_movement
    international_travel_controls
    income_support
    debt_relief
    fiscal_measures
    international_support
    public_information_campaigns
    testing_policy
    contact_tracing
    emergency_investment_in_healthcare
    investment_in_vaccines
    facial_coverings
    vaccination_policy'''.split()

# save the variables to file
with open('covid_google_var_dictionary.pkl', 'wb') as f:
    pickle.dump(var, f)

In [ ]:
# create a single list of all the features
var_all = [item for sublist in list(var.values()) for item in sublist]
print('The first 4 items in "var_all" are: ', var_all[0:4])

# create a single string of all the features
var_all2 = ', '.join(var_all)

The first 4 items in "var_all" are:  ['new_tested', 'new_confirmed', 'location_key', 'place_id']

In [ ]:
# note: the autenticated user must have access to the specified project
# the listed project was created by Wesley Oke
client = bigquery.Client(project='citric-trees-332113')

# Construct a BigQuery client object.
query = "SELECT " + var_all2 + """
FROM
  `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE
  cumulative_persons_fully_vaccinated IS NOT NULL
  AND mobility_parks IS NOT NULL
  AND new_tested != 'None'
LIMIT 200000
"""

# Run the query and save the result as a dataframe
df = (client.query(query)
             .result()
             .to_dataframe())

In [ ]:
# Convert the 'date' column to a Datetime format
df['date'] = pd.to_datetime(df['date'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193530 entries, 0 to 193529
Data columns (total 52 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   new_tested                             193530 non-null  object
 1   new_confirmed                          193012 non-null  float64
 2   location_key                           193530 non-null  object
 3   place_id                               193530 non-null  object
 4   wikidata_id                            193530 non-null  object
 5   country_code                           193530 non-null  object
 6   subregion1_code                        177793 non-null  object
 7   subregion1_name                        177793 non-null  object
 8   date                                   193530 non-null  datetime64[ns]
 9   population                             193477 non-null  float64
 10  population_age_00_09                   193480 non-null  float64
 11  population_age_10_19                   193480 non-null  float64
 12  population_age_20_29                   193480 non-null  float64
 13  population_age_30_39                   193480 non-null  float64
 14  population_age_40_49                   193480 non-null  float64
 15  population_age_50_59                   193480 non-null  float64
 16  population_age_60_69                   193480 non-null  float64
 17  population_age_70_79                   193480 non-null  float64
 18  population_age_80_and_older            193480 non-null  float64
 19  area_sq_km                             133069 non-null  float64
 20  cumulative_persons_vaccinated          175578 non-null  float64
 21  cumulative_persons_fully_vaccinated    193530 non-null  int64
 22  cumulative_vaccine_doses_administered  175422 non-null  float64
 23  mobility_retail_and_recreation         170059 non-null  object
 24  mobility_grocery_and_pharmacy          167340 non-null  object
 25  mobility_parks                         193530 non-null  object
 26  mobility_transit_stations              144717 non-null  object
 27  mobility_workplaces                    191450 non-null  object
 28  mobility_residential                   169865 non-null  object
 29  stringency_index                       31520 non-null   object
 30  average_temperature_celsius            190945 non-null  float64
 31  rainfall_mm                            190807 non-null  float64
 32  snowfall_mm                            10037 non-null   float64
 33  school_closing                         31560 non-null   object
 34  workplace_closing                      31551 non-null   object
 35  cancel_public_events                   31544 non-null   object
 36  restrictions_on_gatherings             31539 non-null   object
 37  public_transport_closing               31549 non-null   object
 38  stay_at_home_requirements              31506 non-null   object
 39  restrictions_on_internal_movement      31468 non-null   object
 40  international_travel_controls          31547 non-null   object
 41  income_support                         32245 non-null   object
 42  debt_relief                            31486 non-null   object
 43  fiscal_measures                        11777 non-null   object
 44  international_support                  11754 non-null   object
 45  public_information_campaigns           31471 non-null   object
 46  testing_policy                         31568 non-null   object
 47  contact_tracing                        31419 non-null   object
 48  emergency_investment_in_healthcare     11692 non-null   object
 49  investment_in_vaccines                 16287 non-null   object
 50  facial_coverings                       31421 non-null   object
 51  vaccination_policy                     31559 non-null   object
dtypes: datetime64[ns](1), float64(17), int64(1), object(33)
memory usage: 76.8+ MB

In [ ]:
df.head()

  new_tested  new_confirmed  ... facial_coverings vaccination_policy
0      37811         1160.0  ...                2                  4
1      29896         5097.0  ...                3                  1
2      27994         1472.0  ...              NaN                NaN
3      76429        29242.0  ...                3                  3
4      25130         3038.0  ...                3                  4

[5 rows x 52 columns]

In [ ]:
df.to_parquet('covid_google_df_mobility.parquet') # output based on query WHERE mobility_parks IS NOT NULL

In [ ]:
# note: the autenticated user must have access to the specified project
# the listed project was created by Wesley Oke
client = bigquery.Client(project='citric-trees-332113')

# Construct a BigQuery client object.
query = "SELECT " + var_all2 + """
FROM
  `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE
  cumulative_persons_fully_vaccinated IS NOT NULL
  AND school_closing IS NOT NULL
  AND new_tested != 'None'
LIMIT 200000
"""

# Run the query and save the result as a dataframe
df = (client.query(query)
             .result()
             .to_dataframe())

In [ ]:
# Convert the 'date' column to a Datetime format
df['date'] = pd.to_datetime(df['date'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35048 entries, 0 to 35047
Data columns (total 52 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   new_tested                             35048 non-null  object
 1   new_confirmed                          35048 non-null  int64
 2   location_key                           35048 non-null  object
 3   place_id                               34063 non-null  object
 4   wikidata_id                            35048 non-null  object
 5   country_code                           35048 non-null  object
 6   subregion1_code                        17571 non-null  object
 7   subregion1_name                        17571 non-null  object
 8   date                                   35048 non-null  datetime64[ns]
 9   population                             34954 non-null  float64
 10  population_age_00_09                   34998 non-null  float64
 11  population_age_10_19                   34998 non-null  float64
 12  population_age_20_29                   34998 non-null  float64
 13  population_age_30_39                   34998 non-null  float64
 14  population_age_40_49                   34998 non-null  float64
 15  population_age_50_59                   34998 non-null  float64
 16  population_age_60_69                   34998 non-null  float64
 17  population_age_70_79                   34998 non-null  float64
 18  population_age_80_and_older            34998 non-null  float64
 19  area_sq_km                             34954 non-null  float64
 20  cumulative_persons_vaccinated          26232 non-null  float64
 21  cumulative_persons_fully_vaccinated    35048 non-null  int64
 22  cumulative_vaccine_doses_administered  26090 non-null  float64
 23  mobility_retail_and_recreation         31877 non-null  object
 24  mobility_grocery_and_pharmacy          31761 non-null  object
 25  mobility_parks                         31560 non-null  object
 26  mobility_transit_stations              32000 non-null  object
 27  mobility_workplaces                    32120 non-null  object
 28  mobility_residential                   31760 non-null  object
 29  stringency_index                       35006 non-null  float64
 30  average_temperature_celsius            34311 non-null  float64
 31  rainfall_mm                            34230 non-null  float64
 32  snowfall_mm                            3602 non-null   float64
 33  school_closing                         35048 non-null  int64
 34  workplace_closing                      35022 non-null  float64
 35  cancel_public_events                   35022 non-null  float64
 36  restrictions_on_gatherings             35014 non-null  float64
 37  public_transport_closing               34988 non-null  float64
 38  stay_at_home_requirements              34984 non-null  float64
 39  restrictions_on_internal_movement      34939 non-null  float64
 40  international_travel_controls          34924 non-null  float64
 41  income_support                         34948 non-null  float64
 42  debt_relief                            34915 non-null  float64
 43  fiscal_measures                        13816 non-null  float64
 44  international_support                  13793 non-null  float64
 45  public_information_campaigns           34942 non-null  float64
 46  testing_policy                         34948 non-null  float64
 47  contact_tracing                        34873 non-null  float64
 48  emergency_investment_in_healthcare     13714 non-null  float64
 49  investment_in_vaccines                 19497 non-null  float64
 50  facial_coverings                       34893 non-null  float64
 51  vaccination_policy                     34916 non-null  float64
dtypes: datetime64[ns](1), float64(35), int64(3), object(13)
memory usage: 13.9+ MB

In [ ]:
df.head()

  new_tested  new_confirmed  ... facial_coverings vaccination_policy
0       6155              5  ...              2.0                2.0
1       8880              1  ...              2.0                1.0
2      27586            170  ...              3.0                5.0
3      18031            120  ...              3.0                5.0
4      16921             90  ...              3.0                5.0

[5 rows x 52 columns]

In [ ]:
df.to_parquet('covid_google_df_policy_measures.parquet') # output based on the query WHERE school_closing IS NOT NULL