<a href="https://colab.research.google.com/github/w-oke/covid_reproduction/blob/main/covid_owid_2_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import pickle

The Our World In Data (OWID) project provides COVID-19 data on its websites at https://ourworldindata.org/coronavirus and https://github.com/owid/covid-19-data/tree/master/public/data

In [ ]:
# column descriptions:
owid_col_desc_link = 'https://github.com/owid/covid-19-data/raw/master/public/data/owid-covid-codebook.csv'
owid_col_desc = pd.read_csv(owid_col_desc_link)
owid_col_desc.head()

        column  ...                                      description
0     iso_code  ...  ISO 3166-1 alpha-3 – three-letter country codes
1    continent  ...           Continent of the geographical location
2     location  ...                            Geographical location
3         date  ...                              Date of observation
4  total_cases  ...                Total confirmed cases of COVID-19

[5 rows x 4 columns]

In [ ]:
# ADD: IMPORT OWID VAR PKL

# create a single list of all the features
var_all = [item for sublist in list(var.values()) for item in sublist]
print('The first 4 items in "var_all" are: ', var_all[0:4])
print('There are {} variables in var_all'.format(len(var_all)))

# create a single string of all the features
var_all2 = ', '.join(var_all)
print('var_all2: ', var_all2)

The first 4 items in "var_all" are:  ['reproduction_rate', 'date', 'iso_code', 'location']
There are 17 variables in var_all
var_all2:  reproduction_rate, date, iso_code, location, new_tests_smoothed_per_thousand, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, total_boosters_per_hundred, stringency_index, population_density, median_age, human_development_index, gdp_per_capita, extreme_poverty, handwashing_facilities, hospital_beds_per_thousand, life_expectancy

Note that:
* about half the data has 'handwashing_facilities' data
* about a quarter of the data has vaccination data, but this might be due to no vaccinations being available for large portions of the time

In [ ]:
owid.head()

   iso_code     location  ... life_expectancy  human_development_index
34      AFG  Afghanistan  ...           64.83                    0.511
35      AFG  Afghanistan  ...           64.83                    0.511
36      AFG  Afghanistan  ...           64.83                    0.511
37      AFG  Afghanistan  ...           64.83                    0.511
38      AFG  Afghanistan  ...           64.83                    0.511

[5 rows x 17 columns]