<a href="https://colab.research.google.com/github/w-oke/covid_reproduction/blob/main/owid_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import pickle

The Our World In Data (OWID) project provides COVID-19 data on its websites at https://ourworldindata.org/coronavirus and https://github.com/owid/covid-19-data/tree/master/public/data

In [3]:
# column descriptions:
owid_col_desc_link = 'https://github.com/owid/covid-19-data/raw/master/public/data/owid-covid-codebook.csv'
owid_col_desc = pd.read_csv(owid_col_desc_link)
owid_col_desc.head()

        column  ...                                      description
0     iso_code  ...  ISO 3166-1 alpha-3 – three-letter country codes
1    continent  ...           Continent of the geographical location
2     location  ...                            Geographical location
3         date  ...                              Date of observation
4  total_cases  ...                Total confirmed cases of COVID-19

[5 rows x 4 columns]

In [4]:
# create a list of all the columns in the dataset
cols = owid_col_desc.column.to_list()

In [5]:
# possible independent variables
var = {'y': [ 
 # 'new_cases_smoothed_per_million',
 'reproduction_rate',
 # 'positive_rate',
 # 'tests_per_case', # inverse of positiviy rate
 ]}

# metadata - not intended for training
var['meta'] = [    
 'date',
 'iso_code',
 'location',
 # 'population', 
  ]

var['number'] = [
 # 'tests_units',
 'new_tests_smoothed_per_thousand',
 # 'total_vaccinations',
 # 'total_vaccinations_per_hundred', # use people_vaccinated & people_fully_vaccinated instead
 'people_vaccinated_per_hundred',
 'people_fully_vaccinated_per_hundred',
 'total_boosters_per_hundred',
 'stringency_index',
 'population_density',
 'median_age',
 'human_development_index',
 #'aged_65_older',
 #'aged_70_older',
 'gdp_per_capita',
 'extreme_poverty',
 #'cardiovasc_death_rate',
 #'diabetes_prevalence',
 #'female_smokers',
 #'male_smokers',
 'handwashing_facilities', # Share of the population with basic handwashing facilities on premises
 'hospital_beds_per_thousand', # Hospital beds per 1,000 people, most recent year available since 2010
 'life_expectancy',
 ]

# save the variables to file
with open('covid_owid_var_dictionary.pkl', 'wb') as f:
    pickle.dump(var, f)

In [6]:
# create a single list of all the features
var_all = [item for sublist in list(var.values()) for item in sublist]
print('The first 4 items in "var_all" are: ', var_all[0:4])
print('There are {} variables in var_all'.format(len(var_all)))

# create a single string of all the features
var_all2 = ', '.join(var_all)
print('var_all2: ', var_all2)

The first 4 items in "var_all" are:  ['reproduction_rate', 'date', 'iso_code', 'location']
There are 17 variables in var_all
var_all2:  reproduction_rate, date, iso_code, location, new_tests_smoothed_per_thousand, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, total_boosters_per_hundred, stringency_index, population_density, median_age, human_development_index, gdp_per_capita, extreme_poverty, handwashing_facilities, hospital_beds_per_thousand, life_expectancy

In [7]:
# owid dataset:
owid_link = 'https://github.com/owid/covid-19-data/raw/master/public/data/owid-covid-data.csv'
owid = pd.read_csv(owid_link, usecols=var_all)
owid.dropna(subset=['reproduction_rate'], inplace=True)
owid['date'] = pd.to_datetime(owid['date']) # Convert the 'date' column to a Datetime format
owid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107755 entries, 34 to 136247
Data columns (total 17 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   iso_code                             107755 non-null  object
 1   location                             107755 non-null  object
 2   date                                 107755 non-null  datetime64[ns]
 3   reproduction_rate                    107755 non-null  float64
 4   new_tests_smoothed_per_thousand      65855 non-null   float64
 5   people_vaccinated_per_hundred        27707 non-null   float64
 6   people_fully_vaccinated_per_hundred  25016 non-null   float64
 7   total_boosters_per_hundred           5413 non-null    float64
 8   stringency_index                     99508 non-null   float64
 9   population_density                   106023 non-null  float64
 10  median_age                           104448 non-null  float64
 11  gdp_per_capita                       103799 non-null  float64
 12  extreme_poverty                      72207 non-null   float64
 13  handwashing_facilities               53017 non-null   float64
 14  hospital_beds_per_thousand           96240 non-null   float64
 15  life_expectancy                      107151 non-null  float64
 16  human_development_index              104807 non-null  float64
dtypes: datetime64[ns](1), float64(14), object(2)
memory usage: 14.8+ MB

Note that:
* about half the data has 'handwashing_facilities' data
* about a quarter of the data has vaccination data, but this might be due to no vaccinations being available for large portions of the time

In [9]:
owid.head()

   iso_code     location  ... life_expectancy  human_development_index
34      AFG  Afghanistan  ...           64.83                    0.511
35      AFG  Afghanistan  ...           64.83                    0.511
36      AFG  Afghanistan  ...           64.83                    0.511
37      AFG  Afghanistan  ...           64.83                    0.511
38      AFG  Afghanistan  ...           64.83                    0.511

[5 rows x 17 columns]

## Variant Data

The OWID variant data is provided by country at a frequency of every two weeks.

In [23]:

variant_link = 'https://github.com/owid/covid-19-data/raw/master/public/data/variants/covid-variants.csv'
variants = pd.read_csv(variant_link)
variants['date'] = pd.to_datetime(variants['date']) # Convert the 'date' column to a Datetime format
variants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54096 entries, 0 to 54095
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   location             54096 non-null  object
 1   date                 54096 non-null  datetime64[ns]
 2   variant              54096 non-null  object
 3   num_sequences        54096 non-null  int64
 4   perc_sequences       54096 non-null  float64
 5   num_sequences_total  54096 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 2.5+ MB

In [24]:
variants.head()

  location       date  ... perc_sequences  num_sequences_total
0   Angola 2020-12-21  ...            0.0                   93
1   Angola 2020-12-21  ...            0.0                   93
2   Angola 2020-12-21  ...            0.0                   93
3   Angola 2020-12-21  ...            0.0                   93
4   Angola 2020-12-21  ...            0.0                   93

[5 rows x 6 columns]

In [25]:
variants.drop(['num_sequences', 'num_sequences_total'], axis=1, inplace=True)
variants.variant.unique()

array(['Alpha', 'B.1.1.277', 'B.1.1.302', 'B.1.1.519', 'B.1.160',
       'B.1.177', 'B.1.221', 'B.1.258', 'B.1.367', 'B.1.620', 'Beta',
       'Delta', 'Epsilon', 'Eta', 'Gamma', 'Iota', 'Kappa', 'Lambda',
       'Mu', 'Omicron', 'S:677H.Robin1', 'S:677P.Pelican', 'others',
       'non_who'], dtype=object)

In [29]:
# create a list of the variants of interest
who_variants = '''
    Alpha
    Beta
    Delta
    Epsilon
    Eta
    Gamma
    Iota
    Kappa
    Lambda
    Mu
    Omicron
    non_who'''.split()
# note that the sum will add to 100% for any given day/location

In [28]:
variants2 = variants[variants.variant.isin(who_variants)]
variants2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27048 entries, 0 to 54095
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   location        27048 non-null  object
 1   date            27048 non-null  datetime64[ns]
 2   variant         27048 non-null  object
 3   perc_sequences  27048 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 1.0+ MB

In [40]:
variants3 = variants2.pivot(index=['location','date'], columns='variant', values='perc_sequences')
variants3.reset_index(inplace=True)
variants3

variant  location       date  Alpha    Beta  ...  Lambda   Mu  Omicron  non_who
0          Angola 2020-12-21   0.00   74.19  ...     0.0  0.0      0.0    24.73
1          Angola 2021-01-25   5.77    3.85  ...     0.0  0.0      0.0    90.38
2          Angola 2021-02-08   9.52   28.57  ...     0.0  0.0      0.0    61.91
3          Angola 2021-02-22   2.56   41.03  ...     0.0  0.0      0.0    56.41
4          Angola 2021-03-08   6.19   61.06  ...     0.0  0.0      0.0    32.75
...           ...        ...    ...     ...  ...     ...  ...      ...      ...
2249     Zimbabwe 2021-01-11   0.00   95.61  ...     0.0  0.0      0.0     4.39
2250     Zimbabwe 2021-01-25   0.00   94.74  ...     0.0  0.0      0.0     5.26
2251     Zimbabwe 2021-02-08   0.00  100.00  ...     0.0  0.0      0.0     0.00
2252     Zimbabwe 2021-07-12   0.00    0.00  ...     0.0  0.0      0.0     0.00
2253     Zimbabwe 2021-07-26   0.00    0.00  ...     0.0  0.0      0.0     0.00

[2254 rows x 14 columns]

In [41]:
variants3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2254 entries, 0 to 2253
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   location  2254 non-null   object
 1   date      2254 non-null   datetime64[ns]
 2   Alpha     2254 non-null   float64
 3   Beta      2254 non-null   float64
 4   Delta     2254 non-null   float64
 5   Epsilon   2254 non-null   float64
 6   Eta       2254 non-null   float64
 7   Gamma     2254 non-null   float64
 8   Iota      2254 non-null   float64
 9   Kappa     2254 non-null   float64
 10  Lambda    2254 non-null   float64
 11  Mu        2254 non-null   float64
 12  Omicron   2254 non-null   float64
 13  non_who   2254 non-null   float64
dtypes: datetime64[ns](1), float64(12), object(1)
memory usage: 246.7+ KB

We want to increase the amount of data available.  We will do this by:
1. Populating dates between each 2-week date stamp.  The values will be the average of the previous and following week's data.
2. Creating a 'Global' location for each week who's values will be the average of all available locations for that week.

In [52]:
dates_new = variants3.date[:-1] + pd.Timedelta('1W')
dates_new

0      2020-12-28
1      2021-02-01
2      2021-02-15
3      2021-03-01
4      2021-03-15
          ...
2248   2021-01-11
2249   2021-01-18
2250   2021-02-01
2251   2021-02-15
2252   2021-07-19
Name: date, Length: 2253, dtype: datetime64[ns]

In [54]:
variants3.date[0]+pd.Timedelta('1W')

Timestamp('2020-12-28 00:00:00')

In [49]:
# create a new dataframe based on the existing one, which will be populated with the dates between each 2-week datestamp. The values will be the average of the previous and following week's data.
variants3W = variants3.copy()

def edit_week(df, row1, row2):
    '''If the two 2nd row is two weeks after the first row in the same location,
    modify the first row so that its date is between the two dates and the variant data
    contains the average values of the two rows (for all columns except location & date)
    Note: The df must be sorted by Location and Date!'''
    if (df.location[row1] == df.location[row2]) and (df.date[row2] == df.date[row1]+pd.Timedelta('2W')):
        df.loc[date, row1] = df.loc[date, row1] + pd.Timedelta('1W')
        ## IN PROGRESS!

0      2020-12-28
1      2021-02-01
2      2021-02-15
3      2021-03-01
4      2021-03-15
          ...
2249   2021-01-18
2250   2021-02-01
2251   2021-02-15
2252   2021-07-19
2253   2021-08-02
Name: date, Length: 2254, dtype: datetime64[ns]

## Merge the OWID and Variant data:

In [43]:
owid2 = pd.merge(left=owid, right=variants3,
    how="inner",
    on=['location', 'date'],
    left_index=False,
    right_index=False,
    sort=False,
    suffixes=("_x", "_y"),
    copy=True,
)

In [45]:
owid2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2178 entries, 0 to 2177
Data columns (total 29 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   iso_code                             2178 non-null   object
 1   location                             2178 non-null   object
 2   date                                 2178 non-null   datetime64[ns]
 3   reproduction_rate                    2178 non-null   float64
 4   new_tests_smoothed_per_thousand      2032 non-null   float64
 5   people_vaccinated_per_hundred        1169 non-null   float64
 6   people_fully_vaccinated_per_hundred  1096 non-null   float64
 7   total_boosters_per_hundred           284 non-null    float64
 8   stringency_index                     2157 non-null   float64
 9   population_density                   2178 non-null   float64
 10  median_age                           2170 non-null   float64
 11  gdp_per_capita                       2177 non-null   float64
 12  extreme_poverty                      1609 non-null   float64
 13  handwashing_facilities               566 non-null    float64
 14  hospital_beds_per_thousand           2107 non-null   float64
 15  life_expectancy                      2171 non-null   float64
 16  human_development_index              2171 non-null   float64
 17  Alpha                                2178 non-null   float64
 18  Beta                                 2178 non-null   float64
 19  Delta                                2178 non-null   float64
 20  Epsilon                              2178 non-null   float64
 21  Eta                                  2178 non-null   float64
 22  Gamma                                2178 non-null   float64
 23  Iota                                 2178 non-null   float64
 24  Kappa                                2178 non-null   float64
 25  Lambda                               2178 non-null   float64
 26  Mu                                   2178 non-null   float64
 27  Omicron                              2178 non-null   float64
 28  non_who                              2178 non-null   float64
dtypes: datetime64[ns](1), float64(26), object(2)
memory usage: 510.5+ KB

In [44]:
owid2.head()

  iso_code location       date  ...   Mu  Omicron  non_who
0      AGO   Angola 2020-12-21  ...  0.0      0.0    24.73
1      AGO   Angola 2021-01-25  ...  0.0      0.0    90.38
2      AGO   Angola 2021-02-08  ...  0.0      0.0    61.91
3      AGO   Angola 2021-02-22  ...  0.0      0.0    56.41
4      AGO   Angola 2021-03-08  ...  0.0      0.0    32.75

[5 rows x 29 columns]

In [ ]:
owid.to_parquet('covid_owid_df.parquet') # output to a parquet file